<div class="container mb-3">

  <div class="grid">

    <!-- IZQUIERDA: Stats -->
    <section class="card">
      <h3>Estadísticas base</h3>
      <div class="stats-list">
  <div class="stat">
    <div class="stat-name">HP</div>
    <div class="bar">
      <div class="fill" style="width:35%"></div>
      <div class="stat-val">35</div>
    </div>
  </div>

  <div class="stat">
    <div class="stat-name">Attack</div>
    <div class="bar">
      <div class="fill" style="width:55%"></div>
      <div class="stat-val">55</div>
    </div>
  </div>

  <div class="stat">
    <div class="stat-name">Defense</div>
    <div class="bar">
      <div class="fill" style="width:40%"></div>
      <div class="stat-val">40</div>
    </div>
  </div>

  <div class="stat">
    <div class="stat-name">Special Attack</div>
    <div class="bar">
      <div class="fill" style="width:50%"></div>
      <div class="stat-val">50</div>
    </div>
  </div>

  <div class="stat">
    <div class="stat-name">Special Defense</div>
    <div class="bar">
      <div class="fill" style="width:50%"></div>
      <div class="stat-val">50</div>
    </div>
  </div>

  <div class="stat">
    <div class="stat-name">Speed</div>
    <div class="bar">
      <div class="fill" [style.width.%]="(30/255) * 100"
  [attr.aria-valuenow]="30"aria-valuemin="0" aria-valuemax="30"></div>
      <div class="stat-val">90</div>
    </div>
  </div>
</div>

        

    </section>

    <!-- CENTRO: Imagen -->
    <section class="card art">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png" alt="Pikachu" />
      <h1 class="name">Pikachu</h1>
      <div class="badge-row">
        <span class="chip">#025</span>
        <span class="chip">electric</span>
      </div>
    </section>

    <!-- DERECHA: Datos -->
    <section class="card">
      <h3>Datos</h3>
      <div class="info">
        <div class="row"><div class="label">Altura</div><div class="value">0.4 m</div></div>
        <div class="row"><div class="label">Peso</div><div class="value">6.0 kg</div></div>
        <div class="row"><div class="label">Experiencia</div><div class="value">112</div></div>
        <div class="row">
          <div class="label">Habilidades</div>
          <div class="tags">
            <span class="chip">static</span>
            <span class="chip">lightning-rod</span>
          </div>
        </div>
        <div class="row">
          <div class="label">Movimientos</div>
          <div class="tags">
            <span class="chip">quick-attack</span>
            <span class="chip">thunderbolt</span>
            <span class="chip">iron-tail</span>
            <span class="chip">volt-tackle</span>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
