<div class="container mb-3">

  <div class="grid">

    <!-- IZQUIERDA: Stats -->
    <section class="card">
      <h3 class="fw-bold text-uppercase">Estadísticas base de {{data().name}}</h3>
      <ul>

      </ul>
      <div class="stats-list">
        <div class="stat">
          <div class="stat-name">HP</div>
          <div class="bar">
            <div class="fill" [style.width.%]="p[0]/225*100"></div>
            <div class="stat-val">{{p[0]}}</div>
          </div>
        </div>

        <div class="stat">
          <div class="stat-name">Attack</div>
          <div class="bar">
            <div class="fill" [style.width.%]="p[1]/225*100"></div>
            <div class="stat-val">{{p[1]}}</div>
          </div>
        </div>

        <div class="stat">
          <div class="stat-name">Defense</div>
          <div class="bar">
            <div class="fill" [style.width.%]="p[2]/225*100"></div>
            <div class="stat-val">{{p[2]}}</div>
          </div>
        </div>

        <div class="stat">
          <div class="stat-name">Special Attack</div>
          <div class="bar">
            <div class="fill" [style.width.%]="p[3]/225*100"></div>
            <div class="stat-val">{{p[3]}}</div>
          </div>
        </div>

        <div class="stat">
          <div class="stat-name">Special Defense</div>
          <div class="bar">
            <div class="fill" [style.width.%]="p[4]/225*100"></div>
            <div class="stat-val">{{p[4]}}</div>
          </div>
        </div>

        <div class="stat">
          <div class="stat-name">Speed</div>
          <div class="bar">
            <div class="fill" [style.width.%]="p[5]/225*100"></div>
            <div class="stat-val">{{p[5]}}</div>
          </div>
        </div>
      </div>



    </section>

    <!-- CENTRO: Imagen -->
    <section class="card art">
      <img [src]="j"
        alt="Pikachu" />
      <h1 class="name text-light">{{data().name}} #{{data().id}}</h1>
      <div class="badge-row">
        <span class="chip">{{data().types[0].type.name}}</span>
      </div>
    </section>

    <!-- DERECHA: Datos -->
    <section class="card">
      <h3 class="text-light">Datos</h3>
      <div class="info">
        <div class="row">
          <div class="label">Altura</div>
          <div class="value text-light">{{data().height/10}} Mts</div>
        </div>
        <div class="row">
          <div class="label">Peso</div>
          <div class="value text-light">{{data().weight/10}} kg</div>
        </div>
        <div class="row">
          <div class="label">Experiencia</div>
          <div class="value text-light">{{data().base_experience  }}</div>
        </div>
        <div class="row">
          <div class="label">Habilidades</div>
          <div class="tags">
            <span class="chip">static</span>
            <span class="chip">lightning-rod</span>
          </div>
        </div>
        <div class="row">
          <div class="label">Movimientos</div>
          <div class="tags">
            <span class="chip">quick-attack</span>
            <span class="chip">thunderbolt</span>
            <span class="chip">iron-tail</span>
            <span class="chip">volt-tackle</span>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>