<div class="container mb-3">
  <div class="grid">
    <!-- IZQUIERDA: Stats -->
    <section class="card boxinfo">
      <app-stastpokemon [pokemon]="pokemon"></app-stastpokemon>
    </section>

    <!-- CENTRO: Imagen -->
    <section class="card art">
      <app-name-poke [pokemon]="pokemon"></app-name-poke>
    </section>
    <!-- DERECHA: Datos -->
    <section class="card boxdata">
      <app-datapokemon [pokemon]="pokemon"></app-datapokemon>
    </section>
    <section class="card art">
      <app-cardpoke class="text-light"></app-cardpoke>
    </section>

  </div>

</div>
