.navbarcont{
    background:linear-gradient(45deg,#737374be,#dcdcde);
}
.boxlogo{
    margin-top: 0;
    display: f;
}
.li{
    list-style-type: none;
    display: flex;
}
.li li{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  

}
.li li:hover{
    color:rgb(189, 187, 189);
    cursor:pointer;
    
}
ul.li div{
    margin: 10px 0;
}